@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

img {
    float: left;
    width: 500px;
    height:400px;
    margin-right:15px;
}


h1{text-align: center;
font-size: 40px;}

h2{font-size: 25px;}

p{font-size: 20px;
    font-family: "Times New Roman", Times, serif;}

body {
    background: lightblue;
    font-family: "Lato", sans-serif;
  }

:root{
--green:#3A9943;
}

*{
font-family: 'Roboto', sans-serif;
margin:0; padding:0;
box-sizing: border-box;
text-transform: capitalize;
outline: none; border:none;
text-decoration: none;
transition: all .2s linear;
}

*::selection{
background:var(--green);
color:#fff;
}

html{
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
scroll-padding-top: 7rem;
}

section{
padding:1.5rem 9%;
}

.heading{
font-size: 3rem;
color:#444;
padding-left: 1rem;
border-left: .4rem solid var(--green);
margin-top: 1rem;
margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--green);
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
    }
    
    .btn:hover{
    background:#333;
    }

.logo{
    border-radius: 60%;
    padding: 20px;

    /* padding-right: 10px; */
}

.header-1,
.header-2,
.header-3{
display: flex;
align-items: center;
justify-content: space-between;
padding:2rem 9%;
background:var(--green);
}

.header-1{
border-bottom: .1rem solid rgba(255,255,255,.2);
}

.header-3{
background:#fff;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
position: relative;
z-index: 10000;
}

.header-1 span{
font-weight: lighter;
color:#fff;
font-size: 1.7rem;
}

.header-1 a{
padding:0 .7rem;
color:#fff;
font-size: 2rem;
}

.header-1 a:hover{
color:blue;
}

.header-2 .logo{
font-weight: bolder;
font-size: 3rem;
color: white;
}

.header-2 .logo i{
color:blue;
}

.header-2 .search-bar-container{
display: flex;
align-items: center;
width: 50rem;
padding:1.5rem;
background:rgba(255,255,255,.2);
border-radius: .5rem;
}

.header-2 .search-bar-container #search-bar{
width: 100%;
background:none;
text-transform: none;
color:#fff;
font-size: 1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder{
text-transform: capitalize;
color:#ddd;
}

.header-2 .search-bar-container label{
color:#fff;
cursor: pointer;
font-size: 2rem;
padding:0 .5rem;
}

.header-2 .search-bar-container label:hover{
color: blue;
}

.header-3 .navbar a{
color:#666;
font-size: 2rem;
margin-right: 2rem;
}

.header-3 .icons a{
color:#666;
font-size: 2.5rem;
margin-left: 2rem;
}

.header-3 a:hover{
/* color:var(--green); */
color: blue;
}

#menu-bar{
font-size: 3rem;
color:#666;
border:.1rem solid #666;
border-radius: .5rem;
padding:.5rem 1.5rem;
cursor: pointer;
display: none;
}

.header-3.active{
position: fixed;
top:0; left: 0; right: 0;
}

.home{
padding-top: 0;
}







